
/* General colors and fonts*/



:root{
    --dark-background-color: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --button-color: #3882F6;
    --information-header: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;

    --rel-width: 80%;

    font-family: "Roboto", sans-serif;
}

body{
    margin: 0px;
}

.image-element{

    border-radius: 20px;
    border: 2px solid var(--button-color);

    width: 200px;
    height: 200px;
}


.header, .banner-top, .footer, .call-to-action{

    background-color: var(--dark-background-color);
    
    color: var(--main-text);
}

.secondary-text{

    color: var(--secondary-text);
}

.banner-top h1{
    font-size: 48px;
}

.banner-top p{
    font-size: 18px;
}

.header h1{
    font-size: 24px;
}

.header a{
    font-size: 24px;
}

.main-content h1{
    font-size: 36px;
}

.call-to-action h1{

    color: var(--main-text);
}


.call-to-action p{

    color: var(--secondary-text);
}

/* Header */

/* Banner */



/* Information */


/* Cite */


.quote{

    color: var(--quote-text);
    background-color: var(--quote-background);

    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    margin: 100px 0;
}


.quote-content{

    font-weight: 300;
    margin: auto;
    box-sizing: border-box;
    width: var(--rel-width);
    text-align: justify;
    padding: 80px;
}

.quote-content .author{

    text-align: right;
    font-size: 22px;
    font-weight: 1000;
}


/* Call to action */

.call-to-action{

    background-color: var(--button-color);
    margin: 100px auto;
    width: var(--rel-width);
    border-radius: 5px;
    padding: 50px 100px;

    box-sizing: border-box;
}


.call-to-action h1{
    margin-bottom: 0px;
    font-weight: normal;;
}

.call-to-action p{
    margin-top: 0px;
}

.call-to-action .flexbox{

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.call-to-action .flexbox .left{

    flex: 8 1 auto;

}

.call-to-action .flexbox .right{

    flex: 1 1 auto;
}

.call-to-action .sign-up{

    font-size: 18px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background-color: var(--button-color);
}

/* Footer */

.footer{


    width: 100%;

    margin: 0px;
    text-align: center;
    padding: 50px 0;
}
