
/* General*/

:root{
    --dark-background-color: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --button-color: #3882F6;
    --information-header: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;

    --rel-width: 80%;

    font-family: "Roboto", sans-serif;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
}


.header, .banner-top, .footer, .call-to-action{

    background-color: var(--dark-background-color);
    
    color: var(--main-text);
}

.secondary-text{

    color: var(--secondary-text);
}



/* Header */

.header h1{
    font-size: 24px;
}

.header a{
    font-size: 24px;
    font-weight: 200;
}



.header-content{


    margin: auto;
    display: flex;
    width: var(--rel-width);
    gap: 30px;
    align-items: center;
}

.header-logo{

    
    flex: 1;
}



/* Banner */


.banner-top{

    padding: 200px 0;
}

.banner-content{

    display: flex;
    margin: auto;
    width: var(--rel-width);
}

.banner-top h1{
    font-size: 48px;
}

.banner-top p{
    font-size: 18px;
}

.banner-top .sign-up{

    color: var(--main-text);
    background-color: var(--button-color);

    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor:pointer;
}

.banner-content .banner-flex-left{

    flex: 1 1 0;
}

.banner-content .banner-flex-right{

    flex: 1 1 0;
}

.image-container{

    width: 100%;
    height: 100%;
    background-color: #7d848d;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Information */

.main-content h1{
    font-size: 36px;
}


.main-content{
    
    margin: 100px auto;
    width: var(--rel-width);
}

.main-content h1{ 

    text-align: center;
    margin-bottom: 60px;
}

.information-container{
    display: flex;
    justify-content: space-around;
}

.information-container .image-with-information{

    width: 200px;
    flex: 0 0 auto;
}


.image-element{

    border-radius: 20px;
    border: 4px solid var(--button-color);

    width: 200px;
    height: 200px;
}

.information-element{

    width: 150px;
    text-align: center;
    margin: 4px auto;
    font-weight: 300;
}


/* Cite */


.quote{

    color: var(--quote-text);
    background-color: var(--quote-background);

    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    margin: 100px 0;
}


.quote-content{

    font-weight: 300;
    margin: auto;
    box-sizing: border-box;
    width: var(--rel-width);
    text-align: justify;
    padding: 80px;
}

.quote-content .author{

    text-align: right;
    font-size: 22px;
    font-weight: 1000;
}


/* Call to action */

.call-to-action{

    background-color: var(--button-color);
    margin: 100px auto;
    width: var(--rel-width);
    border-radius: 5px;
    padding: 50px 100px;

    box-sizing: border-box;
}


.call-to-action h1{
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 20px;
}

.call-to-action p{

    font-size: 14px;
    margin-top: 0px;
}

.call-to-action .flexbox{

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.call-to-action .flexbox .left{

    flex: 8 1 auto;

}

.call-to-action .flexbox .right{

    flex: 1 1 auto;
}

.call-to-action .sign-up{

    font-size: 18px;
    padding: 5px 25px;
    border-radius: 5px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background-color: var(--button-color);
    cursor:pointer;
}


.call-to-action h1{

    color: var(--main-text);
}


.call-to-action p{

    color: var(--secondary-text);
}

/* Footer */

.footer{


    width: 100%;

    margin: 0px;
    text-align: center;
    padding: 50px 0;
}
